*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
*.out
*~
*.log
*.DS_Store
exper/exper1/exper1_chain1_25.png
exper/exper1/exper1_chain1_50.png
exper/exper1/exper1_chain2_25.png
exper/exper1/exper1_chain2_50.png
exper/exper1/exper1_tree1_25.png
exper/exper1/exper1_tree1_50.png
exper/exper1/exper1_tree2_25.png
exper/exper1/exper1_tree2_50.png
